html {
  scroll-behavior: smooth;
}

.icon {
  color: #4aca85 !important;
}

.hero-section.animate-box * {
  padding: 10px 0;
  margin: 10px 0;
}

.hero-section.animate-box .primary__heading {
  font-family: "Poppins", Arial, sans-serif;
  color: #333 !important;
  font-size: 4rem !important;
}

/* #career {
  color: white;
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 2%, rgba(35, 98, 204, 1) 100%);
}
#career:hover {
  color: #26beff;
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 2%, rgba(35, 98, 204, 1) 100%);
} */

#nav {
  text-decoration: none;
  color: rgb(97, 102, 99);
  font-size: 1.5rem;
  transition: all 0.1s ease-in;
}

#nav:hover {
  /* text-decoration: underline; */
  color: #4aca85;
  /* font-weight: bold; */
  border-bottom: 2px solid #4aca85;
}

#humanityprojects .col-md-6.animate-box {
  margin: 20px auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

/* Languages */
.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
  width: 200px;
}

.languages .card img {
  max-width: 100%;
}

.languages .card:hover {
  transform: translateY(-15px);
}

.languages .card .h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.colorlib-footer-links a:hover {
  text-decoration: underline !important;
}

.colorlib-social-icons a {
  color: #fff !important;
}

@media screen and (max-width: 969px) {
  .col-md-6.animate-box .mobile-img {
    background-size: cover !important;
    /* width: 300px; */
  }
}

@media screen and (min-width: 970px) {
  .row.mobile-wrap {
    display: flex;
    align-items: center;
    /* width: 300px; */
  }
}
